/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.mainBox {
    background: white;
    color: black;
    min-height: 30rem;
    border-radius: 10px;
    padding: 2rem;
}

.bodyBackground {
    background: #003d76;
    color: black;
    text-align: center
}

.buttonBlue {
    background: #003d76;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 5px 12px;
}

.spacer {
    height: 55px;
    width: 100%;
}

